.cards {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-center {
  padding-top: 150px;
  padding-bottom: 150px;
}

i {
  font-size: 40px;
  cursor: pointer;
}